body {
  font-family: "Georgia";
  background-color: #d7cec7;
  color: #565656;
}

div.navbar {
  background-color: #dbdbdb;
}

a {
  color: #565656;
}

a:hover {
  background-color: #bfbfbf;
  /* color: white; */
}
